* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #1c2a2e;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-template-rows: 150px auto 25em;

    height: 90vh;
    max-width: 1170px;
    margin: 50px auto;
    border: 5px solid #1de9d6;
    font-size: 20px;
    color: #23756a;
    text-align: center;
}

.item {
    border: 1px solid #223236;
    padding: 10px 0;
}