body {
  color: #fff;
}

.container {
  min-height: 100vh;

  display: grid;
  gap: 0.8rem 1rem;
  /* grid-template-columns: 200px 1fr minmax(300px, 1fr); */
  grid-template-rows: minmax(100px, auto) 100px 200px;
  grid-auto-flow: column; /* меняет ряды на колонки */

  background-color: #ccc;
}

.item {
  padding: 1rem;

  background-color: #cd853f;
  border-radius: 15px;
}