body {
  color: #fff;
}

.container {
  min-height: 100vh;

  display: grid;
  gap: 0.8rem 1rem;
  /* grid-template-columns: 200px 1fr minmax(300px, 1fr); */
  grid-template-rows: 100px minmax(500px, 1fr) 200px;
  /* grid-auto-rows: 150px; */
  /* grid-auto-rows: minmax(100px, 1fr); */

  /* padding: 1rem; */

  background-color: #ccc;
}

.item {
  padding: 1rem;

  background-color: #cd853f;
  border-radius: 15px;
}