.wrapper {
  display: grid;
  gap: 1rem;
}

.wrapper > div {
  min-height: 100px;
  min-width: 100px;

  background-color: gray;
  border: 1px solid #000;
}

/* занимает место от первой до второй линии
Задав это, мы определли, что у нас есть на уровне контейнера 6 вертикальные линии,
то есть 5 колонки | col1 | col2 | col3 |     | col4 |
*/
.item1 {
  grid-column: 1 / 2;
}

/* занимает место от второй до третьей линии */
.item2 {
  grid-column: 2 / 3;
}

/* занимает место от третьей до четвертой линии */
.item3 {
  grid-column: 3 / 4;
}

/* занимает место от четвертой до пятой линии */
.item4 {
  grid-column: 4 / 5;
}

/* занимает место от пятой до шестой линии */
.item4 {
  grid-column: 5 / 6;
}